<!DOCTYPE html>
<html>
<head>
  <title>Firebase on Rails by Songvice</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>
<div class="container">
<%= yield %>
</div>

</body>
</html>
